/*
 *  MEMO : 프로젝트 공통 스타일 파일입니다.
 * 작성일 : 2023.12.13
*/


/* ------------------------------------------------------------------------------------------------------------- */

@media all and (max-width:767px) {
.only_m{display: block !important;}
.only_pc{display:none !important;}
.body{box-sizing: border-box; padding-top:0px; padding-bottom: 40px;}
.body_sm{box-sizing:border-box; padding-top:0px;}
.body_map{box-sizing:border-box; height:calc(100vh - 66px); padding-bottom: 0;}
.gray_body{background:#fff;}
.body_wrap{padding:0px 0px 40px 0px; box-sizing: border-box;}
.main footer{display:block;}
body footer{display: none;}

.inner_wrap{width:100%; margin: 0 auto; padding:0 20px; box-sizing: border-box;}
.inner_wrap.full{padding: 0;}
.inner_wrap.bottom_space{padding-bottom: 60px;}
.inner_mid_wrap, .inner_sm_wrap, .inner_xs_wrap{width:100%; padding-bottom: 40px; padding:0 0px; box-sizing: border-box;}
.inner_m{padding: 0 20px; box-sizing: border-box;}
button.btn_floating{display:block;}

h1{font-size: 20px; font-family: 'font-b';}
h2{font-size: 18px; font-family: 'font-b';}

header{min-width:100%; width:100%; height:100%; position:absolute; left: -100%; top:0; z-index:200; transition: left 0.5s ease; align-items:stretch; display: flex; flex-direction: column; padding: 0; justify-content: flex-start;}
header.open{left:0; height: 100vh; overflow: auto;}
header .header_logo{height:36px;}
header .left_area{display:flex; width: 100%; justify-content: space-between; align-items: center; height:60px; padding:14px 20px;}
header .left_area .header_logo{height:36px; width: auto;}
header nav{width: 100%; position: relative; left: 0; top:0; transform:none;}
header nav ul{flex-direction: column; justify-content: flex-start; align-items: flex-start; gap:0px; padding: 0 24px; box-sizing: border-box;}
header nav ul li{width: 100%;}
header nav ul li a{border-bottom:1px solid var(--gray_200); font-size:20px; display: flex; align-items: center; width: 100%; padding: 16px 0; color:var(--gray_600);}
header nav ul li a img{width: 24px; display:block;}
header .right_area{display:flex; flex-direction:column; width: 100%; align-items: flex-start;}
header .menu_my{padding: 0 24px; width: 100%; box-sizing: border-box;}
header .menu_my button{display: none;}
header .menu_my .my_submenu{position: relative; top:0; width: 100%; border: none; box-shadow: none; padding-top: 16px;}
header .menu_my .my_submenu_wrap{display: block;}
header .menu_my .my_submenu li a{padding: 16px 0; font-size:18px; padding:14px 24px; color:var(--gray_500);}

.menu_alarm{background:#f8f8f8; height: 60px; display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 0 24px; box-sizing: border-box; margin-top: 30px; font-size: 18px; color: var(--gray-1);}
.btn_logout{text-align: right; padding: 0 24px; box-sizing: border-box; width: 100%;}
.btn_logout a{color:var(--gray-1);}
header .side_login_before{display:flex !important; gap: 8px; margin-top:40px; width: 100%; padding: 0 20px; box-sizing: border-box;}
header .side_login_before a{flex:1; border: 1px solid var(--gray_2); border-radius:8px; height: 54px; display: flex; align-items: center; justify-content: center; font-size:18px;}
header .side_login_before a.btn_join{border: 1px solid var(--deepline); color:var(--gray_1);}
header .side_login_after{display:flex; border-bottom: 1px solid var(--deepline); width: 100%; padding: 0 16px; box-sizing: border-box;}
header .side_login_after a{display:flex; flex:1; align-items: center; justify-content: center; gap: 4px; padding: 16px 0px; box-sizing: border-box;}
header .side_login_after a img{width: 24px;}
header .right_area .header_ic_menu{display: none;}
header .btn_txt{padding:20px; box-sizing: border-box; width: 100%;}
header .btn_txt a{width: 100%; border: 1px solid var(--deepline); color:var(--gray_1); border-radius:8px; height: 54px; display: flex; align-items: center; justify-content: center; font-size:18px;}
.m_my_wrap{background:var(--gray_100); padding: 24px; }

.m_header_wrap{display:block; height: 50px;}
.m_header{background:#fff; height: 50px; display:flex; justify-content: space-between; align-items: center; position: fixed; top:0; left:0; width:100%; z-index:50; padding: 0 16px; box-sizing: border-box;}
.m_header .m_title{font-family:'font-b'; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); font-size: 18px; text-align: center; width: 100%; z-index: -1;}
.m_header .left_area, .m_header .right_area{display: flex; align-items: center; gap: 20px;}
.m_header .right_area .user_profileImg{width:40px; height: 40px;}
.m_header .right_area .user_profileImg .img_box{width:40px; height:40px; border-radius: 80px;}
.m_header .right_area .user_profileImg .img_box img{height:100%;}
.m_header .right_area button{display: flex; align-items: center; gap: 8px; font-size: 16px; color:var(--primary); font-family: 'font-b';}
.m_header .right_area button.red_btn{color:#FF4A4A;}
.m_header img{height:24px;}
.m_header .layer_menu{position:absolute; right:-8px; top:32px;}
.m_header .layer_menu a{padding:14px 8px;}
.m_header .m_title input{width:calc(100% - 100px); border: none; font-size: 16px;}
.m_header .m_title button .input_delete{display: none; position: absolute; right:55px; top:16px;}
.m_header .header_logo{height:36px;}

.m_btn_bookmark{background:url('../images/header_bookmark_default.png') no-repeat; background-size:24px auto; width:24px; height:24px;}
.m_btn_bookmark.on {background:url('../images/header_bookmark_on.png') no-repeat; background-size:24px auto;}

.color_type_1{background:var(--primary_color);}
.color_type_2{background:var(--second_color);}
.color_type_3{background:var(--third_color);}
.color_type_4{background:var(--fourth_color);}
.color_type_1 .m_title, .color_type_2 .m_title, .color_type_3 .m_title, .color_type_4 .m_title{color:#fff;}

.item_wrap button.btn_basic{width: auto;}

.no_data p span{display: block; margin-bottom:8px;}

/* footer */
footer{min-width:100%; padding: 30px 0px 60px; box-sizing: border-box;}
footer .footer_top{display:flex; flex-direction: column; justify-content: center; align-items: center; gap: 36px;}
footer .footer_logo{width:170px;}
footer .footer_menu{display:flex; flex-direction:column; align-items:center; gap:20px}
footer .footer_menu a::after{display: none;}
footer .footer_inner_wrap{display:flex; flex-direction: column-reverse; align-items: center; gap:48px;}
footer .footer_info .item_wrap{flex-wrap:wrap; gap: 4px; justify-content: center;}
footer .copyright{text-align: center;}

/* board */
.board_list{padding:0; box-sizing: border-box; gap: 8px;}
.board_list.line_type{border-top:none; gap:0px;}
.board_list .alarm_row{border:none; border-bottom: 1px solid var(--deepline); border-radius: 0; padding:24px 20px; box-sizing: border-box; box-shadow:none}
.board_list .group_tr{display:grid; grid-template-columns:1fr; align-items: flex-start;}
.board_list .group_tr .item_num{display: none;}
.board_list .group_tr .item_tit, .board_list .group_tr .item_tit a, .board_list .item_tit a{font-size:18px;}
.board_list .qa_row{display:flex; flex-direction: column-reverse;}
.board_list .qa_row .qa_item{display: flex; flex-direction: row-reverse;  justify-content: space-between;}
.board_list .qa_row .qa_item span{font-size: 14px;}
.board_list .qa_row .qa_item .item_date{font-size: 14px;}
.board_list .qa_row .item_tit{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width:100%;}
.board_detail_wrap{border-top:none; padding-bottom:0px; border-bottom:none;}
.board_detail_top{margin-top:0px; gap:8px; padding:16px 0px; display: flex; flex-direction: column;}
.board_detail_top .txt_tit{font-size:20px;}
.board_detail_body{padding: 20px 0; box-sizing: border-box; margin-top: 0; font-size:16px; gap:24px;}
.answer_wrap{padding: 16px;}

/* table */
.table_container{display: grid; grid-template-columns:140px 1fr; border-top:1px solid var(--gray-line);}
.table_container div{font-size: 14px;}
.table_container .item_col_3{grid-column: auto;}
.table_container .only_m{display: block; margin-top: 4px;}

.reg_row{display:flex; flex-direction: column; gap:10px; }
.reg_row .reg_label{height: auto;}
.reg_row.sz_sm .reg_label{font-size:14px; font-family: 'font-m'; color: #666;}
.reg_row_fix .reg_label{color: #666; font-family: 'font-m';}
.reg_row .reg_label.column_label{flex-direction:row; justify-content: space-between;}

.info_table{display:grid; grid-template-columns: 1fr; gap:10px;}
.info_table .item_th{color: #666; font-size: 16px; font-family:'font-m'; border-bottom:none; padding:0 0; box-sizing: border-box;}
.info_table .item_td{font-size: 16px; font-family:'font-m'; border-bottom: 1px solid #D7DFE8; padding:0 0 20px 0; box-sizing: border-box; margin-bottom: 10px;}
.info_table .item_row{grid-column: 1 / span 1; border-bottom: 1px solid #D7DFE8; padding:0px 0; width:100%; overflow: hidden;}


.faq_list{padding:0px; box-sizing: border-box; border-top:none;}
.faq_list li .trigger{padding: 20px;}
.faq_list li .trigger .faq_a_wrap{gap: 14px; font-size:18px;}
.faq_list li .a_wrap{padding:20px 20px 20px 20px; font-size:18px; border-radius: 0;}

/* button : s */
button.btn_basic{width:100%;}
button.m_floating{border-radius: 0; position:fixed; bottom: 0; left: 0; margin-bottom: 0; z-index:10;}
button.m_dis{display: none;}
.btn_md_r{border-radius:50px; padding:12px 22px; font-family:'font-sb';}

/* width */
.w_sm, .w_md{width:100%;}

/* group */
.col_36{display: flex; flex-direction: column;}

.txt_date{font-size: 13px;}


.modal{background:#fff; position:fixed; width:calc(100% - 30px); height:auto; top:50%; left: 50%; transform: translate(-50%, -50%); display: none;}
.modal.md_sm{width:calc(100% - 30px);}
.modal.md_lg{width:100%; height: 100%; border-radius: 0;}
.modal .md_result_scroll{height:calc(100% - 50px); padding: 0;}
.modal .img_lg_wrap{width: 100%;}
.modal.md_img{width:100%; max-width:100%; height: 100%;}
.modal .img_lg_wrap img{max-width:100%; max-height:100%;}
.slide_select_menu{overflow-y:auto; max-height:200px;}
.slide_select_menu li{font-size:16px;}
.slide_select_menu li [type="checkbox"] + label{display:block; width:100%; padding:12px 18px; font-size:16px; color:#63605F; box-sizing: border-box;}
.slide_select_menu li [type="checkbox"]:checked + label{background:var(--gray-bg) url('../images/ic_check.png') calc(100% - 18px) center no-repeat; background-size: 15px auto;}

.md_result_wrap{display: flex; flex-direction: column; align-items: center; gap: 36px; padding:0 20px 30px 20px; box-sizing: border-box;}

/* group */
.col-3{display: flex; flex-direction: column;}
.res_cType{display: flex; flex-direction: column; align-items:flex-start; }

}
